<div class="col-md-9"style="width:100%;">
    <div class="row" id="Container" style="width:100%;">
        <% if (typeof test == '1' ) { %>

        // Handle categories here

        // <div class="col-sm-4 mix category-smartphone" data-price="64900" data-date="20130521" data-popularity="3">
        //     <div class="ec-box">
        //         <div class="ec-box-header"><a href="#">Iphone 5S</a></div>
        //         <a href="#"><img src="/img/demo/e_img01.jpg" alt=""></a>
        //         <div class="ec-box-footer">
        //             <span class="label label-primary">$ 649.00</span>
        //             <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></>Add to Cart</a>
        //         </div>
        //     </div>
        // </div>

        // <div class="col-sm-4 mix category-keyboard" data-price="4999" data-date="20130421" data-popularity="8">
        //     <div class="ec-box">
        //         <div class="ec-box-header"><a href="#">Keyboard Pro Game</a></div>
        //         <a href="#"><img src="/img/demo/e_img02.jpg" alt=""></a>
        //         <div class="ec-box-footer">
        //             <span class="label label-primary">$ 49.99</span>
        //             <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        //         </div>
        //     </div>
        // </div>

        // <div class="col-sm-4 mix category-smartphone" data-price="24999" data-date="20121409" data-popularity="7">
        //     <div class="ec-box">
        //         <div class="ec-box-header"><a href="#">Bq Aquaris 5 16GB White</a></div>
        //         <a href="#"><img src="/img/demo/e_img03.jpg" alt=""></a>
        //         <div class="ec-box-footer">
        //             <span class="label label-primary">$ 249.99</span>
        //             <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        //         </div>
        //     </div>
        // </div>

        // <div class="col-sm-4 mix category-smartphone" data-price="9995" data-date="20130521" data-popularity="10">
        //     <div class="ec-box">
        //         <div class="ec-box-header"><a href="#">Doogee Voyager DG300 Black</a></div>
        //         <a href="#"><img src="/img/demo/e_img04.jpg" alt=""></a>
        //         <div class="ec-box-footer">
        //             <span class="label label-primary">$ 99.95</span>
        //             <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        //         </div>
        //     </div>
        // </div>

        // <div class="col-sm-4 mix category-graphic" data-price="22400" data-date="20111225" data-popularity="9">
        //     <div class="ec-box">
        //         <div class="ec-box-header"><a href="#">Gigabyte GeForce GTX 660</a></div>
        //         <a href="#"><img src="/img/demo/e_img05.jpg" alt=""></a>
        //         <div class="ec-box-footer">
        //             <span class="label label-primary">$ 224.00</span>
        //             <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        //         </div>
        //     </div>
        // </div>

        // <div class="col-sm-4 mix category-smartphone" data-price="49999" data-date="20140102" data-popularity="12">
        //     <div class="ec-box">
        //         <div class="ec-box-header"><a href="#">Google Nexus 5 16GB Black</a></div>
        //         <a href="#"><img src="/img/demo/e_img06.jpg" alt=""></a>
        //         <div class="ec-box-footer">
        //             <span class="label label-primary">$ 499.99</span>
        //             <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        //         </div>
        //     </div>
        // </div>

        <%}else{%>
            <% products.forEach(function(product, i){ %>
                <div class="col-sm-4" style="display: block; width: 220px;">
                    <div style="display: inline-block;">
                        <div class="ec-box">
                            <a href="/product/<%= product.id %>">
                                <% if (product.isImageAvailable == 1 ){ %>
                                    <img style="height: 300px;width: 200px;" class="img-rounded-ymple" src="/images/product/<%= product.idProduct %>/1.png">
                                    <div class="middle">
                                        <button class="text" data-id="<%= product.id %>" data-role="add" alt="<% i %>"><%= __('Add to Cart') %></button>
                                    </div>
                                <% }else { %>
                                    <img style="height: 300px;width: 200px;" class="img-rounded-ymple" src="/images/ymple/product-example.png">
                                <% } %>
                            </a>
                        </div>
                        <%# if (product.thumbnail){ %>
                        <%#  product.thumbnail  } else {  "http://lorempixel.com/500/500" } %>
                        <span class="badge badge-info" style="margin-bottom:10px;"><%= sails.config.project.currency.symbol %>
                            <%= product.price %>
                        </span>
                    </div>
                </div>
            <% }) %>
        <%}%>
    </div>
</div>

